* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.day {
    margin: 10px;
    border: 1px solid red;
}

header{
    padding: 15px;
}

.item {
    margin: 5px;
    padding: 10px;
    border: 1px solid blue;
    position: relative;
}

.description {
  color: gray;
}

.dropdown {
  display: none;
}

.dropdown:not(:checked) + label::before{
  content: "\25bc";
}

.dropdown:checked + label::after{
  content:"\25c0";
}

.dropdown:checked + label + p{
  display: none;
}

.dropdown:not(:checked) + label + p{
  position: absolute;
  background-color: #eee;
  margin:0 5px;
  padding: 10px;
  border: 1px red solid;
  color: black;
  z-index: 1;
  top: 40px;
  left: -1px;
}

footer {
  align-self: center;
  margin: 10px;
}



.label {
  font-size: 1.5rem;
  display: inline;
  padding: 5px;
  border: 2px black solid;
  border-radius: 5px;;
}

.school {
  background-color: #ffcccb;
}

.work {
  background-color: #99ff99;
}

@media screen and (max-width: 800px){

}