@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planner {
  display: flex;
  justify-content: center;
  height: 80%;
}

.day {
    margin: 10px;
    border: 1px solid red;
    width: 100%;
}

header{
    padding: 15px;
}

.item {
    margin: 5px;
    padding: 10px;
    border: 1px solid blue;
    position: relative;
}

.item.school {
  background-color: #ffcccb;
}

.description {
  color: gray;
}

input {
  display: none;
}

label{
  
}

input:not(:checked) + label::before{
  content: "\25bc";
}

input:checked + label::after{
  content:"\25c0";
}

input:checked + label + p{
  display: none;
}

input:not(:checked) + label + p{
  position: absolute;
  background-color: #eee;
  padding: 15px;
  border: 1px red solid;
  color: black;
  z-index: 1;
  width: 300px;
  top: 40px;
  left: -1px;
}